@using CloudProjectCore.Models.ViewModels
@model GalleryModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Gallery</h2>
    </div>
    <div class="col-md-6">
        @if (Model.Photos.Count != 0)
        {
            @if (!Model.MultipleDeletes)
            {
                @Html.ActionLink("Multiple delete", "Gallery", "Gallery", new { multipleDeletes = true, tag = Model.LastTag },
                    htmlAttributes: new { @type = "button", @class = "btn btn-danger float-right" })
            }
            else
            {
                @Html.ActionLink("Back", "Gallery", "Gallery", null,
                    htmlAttributes: new { @type = "button", @class = "btn btn-primary float-right" })
            }
        }
    </div>
</div>
<br />
<br />
<div>
    <div class="col-md-6">
        <div>
            @using (Html.BeginForm("Gallery", "Gallery", FormMethod.Get, htmlAttributes: new { @class = "form-inline mr-auto" }))
            {
                <input class="form-control mr-sm-2" type="text" placeholder="Tag" aria-label="Search" name="tag">
                @if (!Model.MultipleDeletes)
                {
                    <button class="btn btn-success btn-rounded" type="submit">Search</button>
                }
                else
                {
                    <button class="btn btn-secondary btn-rounded" type="button">Search</button>
                }
            }
        </div>
    </div>

    <div class="col-md-12 mt-5">
        @using (Html.BeginForm("DeletePhotos", "Photo", FormMethod.Post))
        {
            if (Model.Photos.Count == 0)
            {
                <p>No photos with the tag "@Model.LastTag"</p>
            }
            else
            {
                <div class="row">
                    @for (int i = 0; i < Model.Photos.Count; i++)
                    {
                        @Html.HiddenFor(x => x.Photos[i]._id)
                        @Html.HiddenFor(x => x.Photos[i].PhotoPhatPreview)
                        <div class="col-md-4 mb-5">
                            <a href="@Url.Action("SinglePhoto", "Photo", new { photoId = Model.Photos[i]._id })">
                                <img src="@Model.Photos[i].PhotoPhatPreview" class="rounded">
                            </a>
                            @if (Model.MultipleDeletes)
                            {
                                <p>
                                    @Html.CheckBoxFor(x => x.Photos[i].ToBeDelete)
                                </p>
                            }
                        </div>
                    }
                </div>

                if (Model.MultipleDeletes)
                {
                    <!-- Button trigger modal -->
                    <button type="button" class="btn-danger btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
                        Delete images
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete images</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete those images?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>