@using CloudProjectCore.Models.ViewModels
@model SharePhotoModel

<div class="container">
    @using (Html.BeginForm("SharePhoto", "Photo", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <h4>Share photo</h4>
            </div>
        </div>

        <div class="row mt-2">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("PhotoUri", Model.PhotoUri)
            @Html.Hidden("_id", Model._id.ToString())

            <div class="col-md-2">
                <h6>
                    @Html.LabelFor(model => model.DateOfExpire, htmlAttributes: new { @class = "control-label" })
                </h6>
            </div>
            <div class="col-md-4 col-sm-12">
                @Html.EditorFor(model => model.DateOfExpire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfExpire, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2 col-sm-12 mt-2 mt-md-0">
                <button type="submit" class="btn btn-success btn-block">Share</button>
            </div>
        </div>
    }
</div>